Repository rafaumeu/multicloud-iac-journey, changes with the labels that .github/labeler.yml gives for each.
All labels: GCP, Azure, setup, resource

.github/labeler.yml:

GCP:
  - "gcp/**/*"
  - "**/gcp/*"

Azure:
  - "azure/**/*"
  - "**/azure/*"

setup:
  - "**/provider.tf"
  - "**/variables.tf"

resource:
  - "**/main.tf"
  - "**/resources.tf"

feat(gcp): configure google cloud provider" -m "- Add GCP provider configuration - Set project and region - Configure required provider version
  providers.tf
Labels: none

feat(gcp): add compute instance resource" -m "- Add GCP Compute Engine VM instance - Configure e2-micro machine type - Set up network interface and boot disk - Define zone as us-central1-a
  main.tf
Labels: resource

docs(readme): update project documentation" -m "- Add comprehensive README - Include project structure - Add setup instructions - Include contribution guidelines - Add badges and tech stack
  README.md
Labels: none

feat(azure): add initial Azure provider configuration
  .gitignore
  .terraform.lock.hcl
  azure/.terraform.lock.hcl
  azure/main.tf
  azure/providers.tf
  gcp/main.tf
  gcp/providers.tf
Labels: GCP, Azure, resource

refactor(azure): update resource group configuration and provider setup
  azure/main.tf
  azure/providers.tf
  gcp/.terraform.lock.hcl
Labels: GCP, Azure, resource

chore(providers): update cloud providers configuration
  azure/main.tf
  azure/providers.tf
  gcp/providers.tf
Labels: GCP, Azure, resource

docs(readme): add Azure provider information and badges
  README.md
Labels: none

chore(providers): complete Azure provider configuration
  azure/providers.tf
Labels: Azure
